@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
    color: #243e63;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    
    /*
    display: flex;
    align-items: center;
    justify-content: center;
    */
}

.row__narrow {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.container {
    padding: 96px 0;
}

.purple {
    color: #6415ff;
}

section {
    padding: 0 32px;
}

main {
    margin-bottom: 96px;
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    color: black;
    line-height: 1.25;
}

h1 {
    font-size: 36px;
}

h2 {
    text-align: left;
}

img {
    width: 100%;
}

button {
    cursor: pointer;
    border: none;
}

.btn {
    background-color: #6415ff;
    padding: 12px 32px;
    border: none;
    border-radius: 500px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    transition: all 300ms ease;
    cursor: pointer;
}

.section__title {
    font-size: 48px;
    font-weight: 900;
    margin: 16px 0;
    color: rgb(36, 62, 99);
    line-height: 1.5;
}

.section__para {
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
    
}

/* Navigation */
nav {
    display: flex;
    padding-top: 32px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.btn__menu {
    display: none;
    background: transparent;
    border: none;
    transition: all 300ms ease;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo--img {
    height: 40px;
    width: 40px;
    margin-right: 8px;
}

.nav__logo--title {
    font-weight: 900;
    font-size: 24px;
    margin-left: 12px;
    padding-bottom: 2px;
}

.nav__links {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
}

.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 16px;
    color: black;
    font-weight: bold;
    padding: 8px;
}

.nav__link:hover {
    text-decoration: underline;
}

.sign__up {
    margin: 0;
    padding: 10px 32px;
    color: #fff;
    background-color: #6415ff;
    border-radius: 999px;
    border: none;
    line-height: 1.5;
    font-weight: 600;
}

/* Landing */

header {
    position: relative;
}

header .row {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.header__description {
    width: 40%;
}

.header__description--para {
    margin: 32px 0;
}

h4.section__tag, h2.features__title {
    text-align: center;
}

.header__email {
    width: 100%;
    max-width: 448%;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

h1.header__description {
    text-align: left;
}

.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    opacity: 0.75;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;
}

.header__email--btn {
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms ease;
}

.header__customers--title {
    margin-top: 80px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
}

.header__customers {
    margin-top: 16px;
    opacity: 0.5;
}

.header__img--wrapper {
    width: 60%;
}

.header__img {
    width: 100%;
    max-width: 768px;
    padding-left: 56px;
}

/* Features */

#features {
    position: relative;
}

.section__tag {
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
}

#features .section__title {
    text-align: center;
}

#features .section__para {
    text-align: center;
    max-width: 576px;
    margin: 0 auto;
}

.features {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.feature {
    width: 33.33%;
}

.feature__row {
    display: flex;
    align-items: flex-start;
    padding: 32px 24px;
}

.feature__img--wrapper {
    display: flex;
    padding: 20px;
    border: solid 1px #e3e3e3;
    border-radius: 500px;
}

.feature__img {
    width: 24px;
    height: 24px;
}

.feature__text {
    margin-top: 8px;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
}

.feature__para {
    margin-top: 16px;
    font-size: 16px;
    color: #7c8ba1;
}

/* Quality Section */

#quality .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quality__description, .quality__img--wrapper {
    width: 50%;
}

.quality__description {
    max-width: 576px;
    margin-right: 64px;
}

.quality__title {
    font-size: 48px;
    font-weight: 900;
    text-align: left;
    color: rgb(36, 62, 99);
    line-height: 1.5;
}

.quality__img--wrapper {
    border-radius: 4px;
    position: relative;
    margin: 0 56px;
    z-index: 2;
    display: flex;
}

#quality .btn {
    margin-top: 32px;
}

.quality__img {
    z-index: 1;
}

/* Steps Section */

#steps .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.steps__img--wrapper, .steps__description {
    width: 50%;
}

.steps__img--wrapper {
    display: flex;
    position: relative;
}

.steps__description {
    padding: 32px 0 0 64px;
}

.step {
    display: flex;
    align-items: flex-start;
    margin-top: 32px;
}

.step__number {
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
    color: #cbd5e0;
}

.step__description {
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    max-width: 320px;
}

.step__title {
    font-size: 20px;
    font-weight: 600;
    color: #243e63;
    line-height: 1;
}

.step__para {
    font-size: 14px;
    color: #718096;
    margin-top: 12px;
    font-weight: 500;
    line-height: 2;
}

/* Values Section */

#values .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.values__description, .values__img {
    width: 50%;
}

.values__description {
    padding: 32px 64px 32px 0;
}

.values__list {
    display: flex;
    flex-direction: row;
}

.value {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin: 32px 32px 0 0;
}

.value__title {
    display: flex;
    align-items: center;
}

.value:nth-child(1) .value__img--wrapper {
    background-color: #9ae6b4;
}

.value:nth-child(2) .value__img--wrapper {
    background-color: #feb2b2;
}

.value__img--wrapper {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.value__name {
    margin-left: 12px;
    font-size: 20px;
    font-weight: bold;
    color: #243e63;
}

.value__para {
    margin-top: 16px;
    line-height: 1.625;
    color: #718096;
}

#values .btn {
    margin-top: 48px;
}

/* Price Section */

#pricing .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pricing .section__title{
    text-align: center;
}

#pricing .section__para {
    text-align: center;
    max-width: 576px;
}

.plans {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.plan {
    position: relative;
    margin-top: 4rem;
    display: flex;
    width: 100%;
    max-width: 24rem;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: rgb(255, 255, 255);
    border: 1px solid #e2e8f0;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 2rem;
    padding-top: 0.5rem;
    text-align: center;
    color: #243e63;
    box-shadow: 0 10px 0px 0px rgba(0, 0, 0, 0.1), 0 0px 0px 0px rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.plan:nth-child(1) .plan__stripe, .plan:nth-child(3) .plan__stripe {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan__stripe {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.plan__top {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
    line-height: 1.625;
}

.plan:nth-child(odd) .plan__name, .plan:nth-child(odd) .plan__price, .plan:nth-child(odd) .plan__target {
    color: #1a202c;
}

.plan__name {
    font-size: 20px;
}

.plan__name, .plan__price, .plan__duration {
    font-weight: bold;
    line-height: 1.625;
}

.plan__price {
    font-size: 48px;
    margin: 4px 0;
}

.plan:nth-child(odd) .plan__duration {
    color: #a0aec0;
}

.plan__duration {
    font-size: 16px;
    letter-spacing: 0.1em;
}

.plan:nth-child(1) .plan__middle, .plan:nth-child(3) .plan__middle {
    border-top: 2px solid rgb(229, 231, 235);
    border-bottom: 2px solid rgb(229, 231, 235);
}

.plan__middle {
    margin-left: -2rem;
    margin-right: -2rem;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    padding: 2rem;
}

.plan__target {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.025em;
}

.plan__feature {
    margin-top: 20px;
    font-weight: 500;
    color: #718096;
    font-size: 16px;
    line-height: 1.5;
}

@media (max-width: 1280px) {
    .plan__bottom {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.plan__bottom {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.plan.plan:nth-child(1) .plan__stripe, .plan.plan:nth-child(1) .plan__button {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

@media (max-width: 1280px) {
    .plan__button {
        max-width: none;
    }
}

.plan__button {
    padding: 0.75rem 2rem;
    font-weight: 700;
    transition: all 300ms ease;
    width: 100%;
    border-radius: 99px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.plan:nth-child(2) {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.plan:nth-child(2) .plan__name, .plan:nth-child(2) .plan__price, .plan:nth-child(2) .plan__target, .plan:nth-child(2) .plan__duration, .plan:nth-child(2) .plan__feature {
    color: #f7fafc;
}

.plan:nth-child(2) .plan__button {
    background-color: #f7fafc;
    color: #6415ff;
}

.plan:nth-child(3) .plan__stripe, .plan:nth-child(3) .plan__button {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(245, 179, 178) 100%);
}

/* Testimonials Section */

#testimonials .container {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

#testimonials .row {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 1280px) {
    .testomonials__img {
        width: 40%;
    }
}

.testimonials__img, .testimonials__description {
    width: 50%;
}

@media (max-width: 1280px) {
    .testimonials__img {
        width: 40%;
    }

    .testimonials__description {
        width: 60%;
    }
}

.testimonials__description {
    display: flex;
    flex-direction: column;
    padding-left: 64px;
}

.testimonial {
    margin-top: 40px;
}

.fa-solid, .fas {
    font-weight: 900;
}

.fa-star {
    color: rgb(246, 173, 85);
    height: 1.25rem;
    width: 1.25rem;
}

.testimonial__title {
    color: #4a554a;
    line-height: 1.625;
    margin-top: 12px;
    font-weight: 700;
}

.testimonial__para {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: 500;
    line-height: 1.625;
    font-size: 16px;
    color: rgb(74, 85, 104);
}

.testimonial__bottom {
    display: flex;
    justify-content: space-between;
}

.testimonial__profile {
    display: flex;
    align-items: center;
}

.testimonial__img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.testimonial__details {
    margin-left: 24px;
}

.testimonial__name {
    line-height: 1.625;
    font-size: 20px;
    font-weight: 700;
    color: #243e63;
}

.testimonial__role {
    margin-top: 4px;
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
}

.testimonial__buttons {
    display: flex;
    align-items: center;
}

.testimonial__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background: #edf2f7;
    border-radius: 50%;
    margin: 0 12px;
    transition: all 300ms ease;
}

.fa-arrow-left, .fa-arrow-right {
    color: #6415ff;
    font-size: 16px;
}

/* Start Section */

#start .row {
    position: relative;   
}

.start__container {
    padding: 96px 0;
    width: 100%;
    background-color: #6415ff;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start__row {
    width: 100%;
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start__title {
    color: #f7fafc;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    z-index: 2;
}

.start__title, .start__buttons {
    width: 50%;
}

.start__buttons {
    display: flex;
    justify-content: flex-end;
}

.start__button:nth-child(1) {
    background-color: #f56565;
    margin-right: 32px;
    transition: all 300ms ease;
}

.start__button {
    padding: 20px 40px;
    border-radius: 500px;
    font-weight: 700;
    font-size: 16px;
    margin: 1px;
    z-index: 2;
}

.start__button:nth-child(2) {
    border: 1px solid #dedede;
    transition: all 300ms ease;
}

/* Footer Section */

footer {
    padding: 96px 32px;
    background-color: #6415ff;
    margin-bottom: -32px;
    position: relative;
}

.footer__columns {
    margin-top: -48px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__column {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 2;
}

.footer__column--title {
    font-weight: 700;
    color: #f7fafc;
    line-height: 1.5;
}

.footer__column--link:nth-child(2) {
    margin-top: 24px;
}

.footer__column--link {
    color: #f7fafc;
    font-size: 14px;
    margin-top: 12px;
    font-weight: 500;
    position: relative;
    cursor: pointer;
}

a {
    display: inline;
    text-decoration: none;
}

.footer__divider {
    width: 100%;
    height: 2px;
    margin: 64px 0;
    background-color: rgb(116, 44, 255);
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo {
    display: flex;
    align-items: center;
}

.footer__logo--img {
    height: 32px;
    width: 32px;
}

.footer__logo--text {
    font-size: 20px;
    color: #f7fafc;
    font-weight: 900;
    margin-left: 8px;
    letter-spacing: 0.05rem;
}

.footer__copyright {
    color: #cbd5e0;
    font-weight: 500;
}

.footer__socials {
    display: flex;
    align-items: center;
    margin-left: -16px;
}

.social__button {
    margin: 8px;
    padding: 8px;
    background-color: #f7fafc;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;
    transition: all 300ms ease;
    width: 32px;
    height: 32px;
}
